
.card {
  background-color: darkorange;
  border: grey solid 2px;
  border-radius: 6px;
  transition: all .5s ease;
  width: 22%;
  height: 43%;
  margin: .5%;
}
  .card:hover {
    filter: drop-shadow(2px 4px 100px goldenrod);
  }


.blocked {
  pointer-events: none;
  opacity: .3;
}

