
.card {
  /* padding: 6%; */
  background-color: darkorange;
  border: grey solid 2px;
  border-radius: 6px;
  transition: all .5s ease;
  width: 22%;
  height: 43%;
  /* width: 4vw;
  height: 14vh; */
  margin: .5%;
  background-image: url(rear.jpg);
  background-size: cover;
}

  .shown-card {
    background-color: darkslateblue;
    padding: 40px;
    border: grey solid 2px;
    border-radius: 6px;
    transition: all .5s ease;
  }


.blocked {
  pointer-events: none;
  opacity: .3;
}


/* 4vw */
/* width 22%
  height 43% */