#root {
  display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 30vw;
}








.card {
  padding: 40px;
  background-color: darkorange;
  border: grey solid 2px;
  border-radius: 6px;
  transition: all .5s ease;
}

  .shown-card {
    background-color: darkslateblue;
    padding: 40px;
    border: grey solid 2px;
    border-radius: 6px;
    transition: all .5s ease;
  }







#stats {
  position: absolute;
  right: 0;
}

  #stats section {
    display: flex;
    flex-direction: column;
  }

