#root {
  display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 30vw;
}








.card {
  padding: 40px;
  background-color: darkorange;
  border: grey solid 2px;
  border-radius: 6px;
  transition: all .5s ease;
}

  .shown-card {
    background-color: darkslateblue;
    padding: 40px;
    border: grey solid 2px;
    border-radius: 6px;
    transition: all .5s ease;
  }

  .locked {
    background-color: black;
    padding: 40px;
    border: grey solid 2px;
    border-radius: 6px;
    transition: all .5s ease;
  }


.blocked {
  pointer-events: none;
  opacity: .3;
}




#stats {
  position: absolute;
  right: 0;
}

  #stats section {
    display: flex;
    flex-direction: column;
  }




/* GameOver Modal! */

.hidden-gameover-modal {
  display: none;
}


.visible-gameover-modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: auto;
  
  z-index: 1;
}

  .visible-gameover-modal::after {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: auto;

    background-color: black;
    opacity: .4;
    z-index: -1;
  } 