#root {
  display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 30vw;
}

.card {
  padding: 40px;
  background-color: darkorange;
  border: grey solid 2px;

  border-radius: 6px;
}

#stats {
  position: absolute;
  right: 0;
}

  #stats section {
    display: flex;
    flex-direction: column;
  }