#stats {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  right: 0;

  background-color: beige;
  border: green solid 4px;
}

  #stats img {
    height: 4%;
    width: 3%;
  }